@import "@/styles/component/search-box";

.header {
  background-color: $base-bg-color;
  height: 10rem;
  padding: 1rem;
  display: grid;
  align-content: center;
  margin-bottom: 3rem;

  @include transition(all ease-in-out 500ms);

  @include breakpoint($from: "md") {
    grid-template-columns: 1fr 6fr 1fr;
  }

  @include breakpoint($from: "lg") {
    grid-template-columns: 1fr 2fr 1fr;
  }

  @include breakpoint($until: "md") {
    grid-template-rows: 1fr 2fr;
  }

  &_logo {
    @include breakpoint($until: "md") {
      text-align: center;
    }
  }
}

.profile {
  text-align: right;

  @include breakpoint($until: "md") {
    display: none;
  }
}
