@use "sass:color";

.header {
  background-color: $base-color2;

  &__top {
    height: 12rem;
    padding: 1rem;
    display: grid;
    align-content: center;
    transition: all ease-in-out 500ms;

    @include breakpoint($from: "md") {
      grid-template-columns: 1fr 6fr 1fr;
    }

    @include breakpoint($from: "lg") {
      grid-template-columns: 1fr 2fr 1fr;
    }

    @include breakpoint($until: "md") {
      grid-template-rows: 1fr 2fr;
    }
  }

  &__logo,
  &__profile {
    justify-self: center;

    /* stylelint-disable scss/no-global-function-names */
    img {
      filter: invert(100%);
    }
    /* stylelint-enable scss/no-global-function-names */
  }

  &__logo {
    width: 100%;
    max-width: 4rem;

    @include breakpoint($until: "md") {
      margin-bottom: 1rem;
    }
  }

  &__profile {
    @include breakpoint($until: "md") {
      display: none;
    }
  }

  &__tags {
    @apply bg-gray-900;

    &__container {
      @apply flex-col
      flex
      items-center
      md:items-baseline
      max-w-screen-2xl
      mx-auto
      py-6
      text-white
      w-full;
    }

    &__title {
      @apply text-3xl;
    }

    &__items {
      @apply gap-1
      grid-cols-4
      grid
      md:grid-cols-5
      lg:grid-cols-10
      p-2;
    }

    a {
      @apply p-2
      bg-gray-800
      duration-500
      hover:bg-yellow-300
      hover:text-black
      transition-colors
      flex
      flex-col
      justify-between
      break-words;
    }
  }
}
