@import "@/styles/component/search-box";

.header {
  background-color: $base-color2;
  height: 12rem;
  padding: 1rem;
  display: grid;
  align-content: center;
  margin-bottom: 1rem;

  transition: all ease-in-out 500ms;

  @include breakpoint($from: "md") {
    grid-template-columns: 1fr 6fr 1fr;
  }

  @include breakpoint($from: "lg") {
    grid-template-columns: 1fr 2fr 1fr;
  }

  @include breakpoint($until: "md") {
    grid-template-rows: 1fr 2fr;
  }

  &__logo,
  &__profile {
    filter: invert(100%);
    justify-self: center;
  }

  &__logo {
    width: 100%;
    max-width: 4rem;

    @include breakpoint($until: "md") {
      margin-bottom: 1rem;
    }
  }

  &__profile {
    justify-self: center;

    @include breakpoint($until: "md") {
      display: none;
    }
  }
}
