@tailwind base;
@tailwind components;
@tailwind utilities;

$base-bg-color: #c51162;
$base-color2: #ff0080;

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.data-badge[data-count]:after {
  content: attr(data-count);
  position: relative;
  top: -1rem;
  right: 0;
  font-size: 0.5rem;
}

.full-vh {
  min-height: 100vh;
}

.scroll-hidden {
  scrollbar-width: none;
  ::-webkit-scrollbar {
    height: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}
