@tailwind base;
@tailwind components;
@tailwind utilities;

$base-bg-color: #c51162;
$base-color2: #ff0080;

img {
  @apply max-w-full h-auto align-middle inline-block;
}

.data-badge[data-count]::after {
  content: attr(data-count);
  @apply relative -top-8 -right-5 text-base;
}

.full-vh {
  @apply min-h-screen;
}

.scroll-hidden {
  scrollbar-width: none;

  ::-webkit-scrollbar {
    @apply h-0 bg-transparent;
  }
}
