@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

$base-bg-color: #c51162;
$base-color2: #ff0080;

body {
  color: #fff;
  font-family: "Montserrat";
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.test {
  color: black;
}

.hide-sr {
  display: none;
}
