/*! purgecss start ignore */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.item-img {
  display: block;
  margin: 0 auto;
  max-height: 15rem;
  max-width: 100%;
}

.lazy-img {
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}

.container-img {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  .card-img-container {
    height: 60%;
    overflow: clip;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
}

.header-toolbar {
  grid-template-columns: repeat(12, 1fr);
}

.gallery-tags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

/*! purgecss end ignore */
