/*! purgecss start ignore */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.item-img {
  max-height: 15rem;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.lazy-img {
  opacity: 0;
  transition: opacity ease-in-out 1s;
}

.container-img {
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/*! purgecss end ignore */
