/*! purgecss start ignore */

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  margin: 0;
}

.item-img {
  max-height: 15rem;
  max-width: 10rem;
}

.lazy-img, .MuiCardMedia-img {
  opacity: 0;
  transition: opacity ease-in-out 1s;
}

.lazy-row {
  position: relative;

  > div {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/*! purgecss end ignore */
