.explore {
  @apply max-w-screen-2xl;
  @apply mx-auto;
  @apply grid;
  @apply grid-flow-row;

  &__title {
    @apply font-extrabold;
    @apply leading-10;
    @apply text-2xl;
    @apply my-6;
  }

  &__tags {
    @apply gap-1;
    @apply grid-cols-4;
    @apply grid;
    @apply md:grid-cols-5;
    @apply lg:grid-cols-10;
    @inlude cssgrid(5rem);

    &__item {
      @apply bg-gray-100;
      @apply duration-500;
      @apply hover:bg-yellow-300;
      @apply p-4;
      @apply transition-colors;
      @apply flex;
      @apply flex-col;
      @apply justify-between;
      @apply text-center;
      @apply overflow-hidden;
    }
  }

  &__galleries {
    @apply max-w-screen-2xl;
    @apply gap-1;
    @apply grid-cols-2;
    @apply grid;
    @apply md:grid-cols-4;
    @apply mx-auto;
    @apply w-full;

    &__item {
      @apply list-none;
      @apply bg-indigo-800;
      @apply text-white;
      @apply h-40;
      @apply p-5;
      @apply hover:bg-purple-900;
      @apply transition-colors;
      @apply duration-500;
      @apply select-none;

      h3 {
        @apply font-bold;
        @apply leading-8;
      }
    }
  }
}
