.explore {
  @apply grid-flow-row
  grid
  p-2
  lg:p-0
  max-w-screen-2xl
  mx-auto;

  &__title {
    @apply font-extrabold
    leading-10
    my-6
    text-2xl
    justify-self-center
    md:justify-self-auto;
  }

  &__galleries {
    @apply max-w-screen-2xl
    gap-1
    grid-cols-2
    grid
    md:grid-cols-4
    mx-auto
    w-full;

    &__item {
      @apply list-none
      bg-indigo-800
      text-white
      h-40
      p-5
      hover:bg-purple-900
      transition-colors
      duration-500
      select-none;

      h3 {
        @apply font-bold
        leading-8;
      }
    }
  }
}
