.card {
  border: solid 1px #00000036;
  display: grid;
  justify-items: center;
  height: 20rem;
  position: relative;
  width: 100%;
  overflow: hidden;

  &:hover {
    .card__info {
      transform: translateY(0);
      background-color: #dc0065;
    }

    .card__counts {
      opacity: 1;
    }
  }

  & img {
    opacity: 0;
    transition: opacity ease-in-out 500ms;
  }

  &__info {
    display: block;
    padding: 0.5rem;
    position: absolute;
    bottom: 1rem;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    background-color: #222;
    transform: translateY(50%);

    transition: all ease-in-out 200ms;
  }

  &__counts {
    opacity: 0;
    transition: opacity ease-in-out 500ms;
    list-style: none;
    padding-left: 0.5rem;
    font-size: small;

    li {
      overflow: hidden;
      span {
        font-weight: bold;
      }
    }
  }

  &__title {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.85rem;
  }
}

.card_badge_container {
  border: solid 1px #00000036;
  height: 20rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:hover {
    .card_badges {
      background-color: #222;
    }

    .card_badges_icons {
      opacity: 1;
    }
  }

  .img-container {
    height: 75%;
    display: block;
  }

  img {
    display: block;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    width: auto;
    opacity: 0;
    transition: opacity ease-in-out 500ms;
  }
}

.card_badges {
  align-content: end;
  background-color: #444;
  display: grid;
  height: 25%;
  padding-bottom: 0.25rem;
  grid-template-rows: 3fr 2fr;
  transition: all ease-in-out 0.5s;

  .card_badges_icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.5;

    > span svg {
      margin-right: 0.5rem;
    }
  }
}

.gallerytw {
  @apply container;
  @apply mx-auto;
  @apply grid;
  @apply gap-1;
  @apply grid-cols-2;
  @apply md:grid-cols-3;
  @apply lg:grid-cols-4;
  @apply xl:grid-cols-5;
  @apply text-white;
}
