.image-grid {
  @apply gap-4
  grid-cols-1
  grid
  max-w-screen-2xl
  sm:grid-cols-2
  md:grid-cols-4
  mt-6
  mx-auto
  text-white;
}

.card {
  border: solid 1px #00000036;
  @apply h-80
  overflow-hidden
  relative
  w-full;

  &:hover {
    .card-info {
      background-color: #222;
      @apply translate-y-0;
    }

    .card_badges_icons {
      @apply opacity-100;
    }
  }

  &__img {
    @apply block
    h-3/4
    transition-all
    duration-500;

    img {
      @apply block
      max-h-full
      mx-auto
      w-auto
      opacity-0
      transition-all
      duration-1000;
    }
  }
}

.card-info {
  @apply bg-gray-800
  duration-500
  grid
  h-1/4
  lg:translate-y-20
  pb-1
  text-white
  transition-all;
  grid-template-rows: 3fr 2fr;

  &__title {
    @apply p-2
    text-center
    text-sm;
  }

  &__icons {
    @apply flex
    items-center
    justify-evenly
    opacity-70;
  }
}
