.image-grid {
  @apply gap-4;
  @apply grid-cols-1;
  @apply grid;
  @apply max-w-screen-2xl;
  @apply sm:grid-cols-2;
  @apply md:grid-cols-4;
  @apply mt-6;
  @apply mx-auto;
  @apply text-white;
}

.card {
  border: solid 1px #00000036;
  @apply h-80;
  @apply overflow-hidden;
  @apply relative;
  @apply w-full;

  &:hover {
    .card-info {
      background-color: #222;
      @apply translate-y-0;
    }

    .card_badges_icons {
      @apply opacity-100;
    }
  }

  &__img {
    @apply block;
    @apply h-3/4;
    @apply transition-all;
    @apply duration-500;

    img {
      @apply block;
      @apply max-h-full;
      @apply mx-auto;
      @apply w-auto;
      @apply opacity-0;
      @apply transition-all;
      @apply duration-500;
    }
  }
}

.card-info {
  @apply bg-gray-800;
  @apply duration-500;
  @apply grid;
  @apply h-1/4;
  @apply lg:translate-y-20;
  @apply pb-1;
  @apply text-white;
  @apply transition-all;
  grid-template-rows: 3fr 2fr;

  &__title {
    @apply p-2;
    @apply text-center;
    @apply text-sm;
  }

  &__icons {
    @apply flex;
    @apply items-center;
    @apply justify-evenly;
    @apply opacity-70;
  }
}
