.item-modal {
  @apply bg-gray-400;
  @apply w-11/12;
  @apply h-5/6;
  @apply mt-10;
  @apply fixed;
  @apply top-0;
}

.ReactModal__Overlay {
  .card {
    @apply h-full;
    @apply mx-auto;
    @apply bg-gray-50;
    @apply block;
    @apply w-11/12;

    img {
      @apply mt-4;
    }
  }

  .card-info {
    grid-template-rows: 1fr 2fr;
  }
}

.comment-thumbs {
  @apply flex;
  @apply justify-end;
  @apply gap-2;
  @apply mt-4;
}
