@import "@/styles/component/search-toolbar-dropdown.scss";

.search-toolbar {
  @apply container;
  @apply mx-auto;
  @apply my-4;
  @apply flex;
  @apply flex-row;
  @apply gap-1;
  @apply md:justify-end;
}
