.search-box {
  display: grid;
}

.input-search {
  border-style: none;
  color: #2c3e50;
  font-size: 18px;
  height: 3rem;
  outline: none;
  padding: 10px 40px 10px 10px;
  transition: all 0.5s ease-in-out;
  width: 100%;

  &:focus {
    color: #000;
  }
}

.btn-search {
  align-items: center;
  border-style: none;
  cursor: pointer;
  display: grid;
  height: 3rem;
  justify-items: center;
  justify-self: end;
  outline: none;
  pointer-events: painted;
  position: absolute;
  width: 3rem;
  transition: all ease-in-out 0.2s;

  @apply bg-gray-900;

  color: white;

  &:hover {
    background-color: #333;
    color: #fff;
  }
}

.search-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;

  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px;
  }
}
